.container{
    display: flex;
}
.col{
    flex: 1;
}

#contents_page {
  font-size:0.4em;
}

.index-link {
  font-size: 0.3em;
  float:left;
  display: block;
}

.slope_figure {
    background-color:#eee;
}
